CONFIG_ESP_WIFI_SSID="espgo"
CONFIG_ESP_WIFI_PASSWORD="12345678"
CONFIG_SODS_NODE_ID_PREFIX="p4"
CONFIG_SODS_ROLE="field-tool"
CONFIG_SODS_HTTP_PORT=8080
CONFIG_SODS_WIFI_SCAN_ACTIVE=y
CONFIG_SODS_WIFI_SCAN_TIME_MS=3000
CONFIG_SODS_RING_CAPACITY=256
