<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>io.strangemythic.sods.station</string>

    <key>ProgramArguments</key>
    <array>
      <string>/Users/letsdev/sods/SODS/tools/sods</string>
      <string>start</string>
      <string>--pi-logger</string>
      <string>http://pi-logger.local:8088</string>
      <string>--port</string>
      <string>9123</string>
    </array>

    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/Users/letsdev/sods/SODS/data/logs/station.launchd.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/letsdev/sods/SODS/data/logs/station.launchd.log</string>
  </dict>
</plist>
